@use "../../styles/color" as *;

.colorbox{
    border: solid 1px 
}
h5{
    font-size: 0.7rem !important;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// MAIN COLORS
.blue{
    background-color: $blue;
}
.black{
    background-color: $black;
}
.blue_dark1 {
    background-color: $blue_dark1;
}
.blue_dark2 {
    background-color: $blue_dark2;
}
.blue_dark3 {
    background-color: $blue_dark3;
}
.blue_dark4 {
    background-color: $blue_dark4;
}
.blue_dark5 {
    background-color: $blue_dark5;
}
.blue_dark6 {
    background-color: $blue_dark6;
}
.blue_dark7 {
    background-color: $blue_dark7;
}
.blue_dark8 {
    background-color: $blue_dark8;
}
.blue_dark9 {
    background-color: $blue_dark9;
}
.blue_dark10 {
    background-color: $blue_dark10;
}
.blue_light1 {
    background-color: $blue_light1;
}
.blue_light2 {
    background-color: $blue_light2;
}
.blue_light3 {
    background-color: $blue_light3;
}
.blue_light4 {
    background-color: $blue_light4;
}
.blue_light5 {
    background-color: $blue_light5;
}
.blue_light6 {
    background-color: $blue_light6;
}
.blue_light7 {
    background-color: $blue_light7;
}
.blue_light8 {
    background-color: $blue_light8;
}
.blue_light9 {
    background-color: $blue_light9;
}
.blue_light10 {
    background-color: $blue_light10;
}   
.gray1 {
    background-color: $gray1;
}
.gray2 {
    background-color: $gray2;
}
.gray3 {
    background-color: $gray3;
}
.gray4 {
    background-color: $gray4;
}
.gray5 {
    background-color: $gray5;
}
.gray6 {
    background-color: $gray6;
}
.gray7 {
    background-color: $gray7;
}
.gray8 {
    background-color: $gray8;
}
.gray9 {
    background-color: $gray9;
}
.gray10 {
    background-color: $gray10;
}
.bluedgray1 {
    background-color: $bluedgray1;
}
.bluedgray2 {
    background-color: $bluedgray2;
}
.bluedgray3 {
    background-color: $bluedgray3;
}
.bluedgray4 {
    background-color: $bluedgray4;
}
.bluedgray5 {
    background-color: $bluedgray5;
}
.bluedgray6 {
    background-color: $bluedgray6;
}
.bluedgray7 {
    background-color: $bluedgray7;
}
.bluedgray8 {
    background-color: $bluedgray8;
}
.bluedgray9 {
    background-color: $bluedgray9;
}
.bluedgray9 {
    background-color: $bluedgray9;
}
.bluedgray10 {
    background-color: $bluedgray10;
}