@use "@/styles/color" as *;

.search {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        flex-grow: 1;
        padding: 0.5rem;
        font-size: 1rem;
        border-top-color: $button-border;
        border-left-color: $button-border;
        border-bottom-color: $button-border;
        border-right: none;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-color: $bluedgray1;
        height: 50px;
        text-transform: uppercase;
    }

    button {
        width: 50%;
        height: 50px;
        padding: 0.5rem;
        font-size: 1rem;
        background: $background-blue-button;
        background: $background-blue-button-moz;
        background: $background-blue-button-webkit;
        background: $background-blue-button-linear;
        filter: $background-blue-button-filter;
        color: $white;
        border-top-color: $button-border;
        border-right-color: $button-border;
        border-bottom-color: $button-border;
        border-right: none;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        font-weight: bold;

        &:hover {
            background: $blue_dark1;
        }
    }
}