@use "../../../styles/color" as *;

.button {
    background-color: aliceblue;
    border: solid 1px $blue;
    color: $blue;
    border-radius: 5px;
    padding: 1rem;

    &:hover {
        background-color: $blue;
        color: white;
    }
    &.selected { 
        background-color: $blue_light9;
        color: $blue;
        border-color: $dark-blue;
        font-weight: bold;
    }
}
