@use "@/styles/color" as *;
.container {
    width: 100%;
    button {
        min-width: 100%;
        font-family: "Barlow", sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color:$blue;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:0.5rem;
        padding: 0.5rem 1rem;
        background-color: $white;
        border:$blue 1px solid;
        border-radius: 5px;
    }
    .icon {
        color: $blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}