@use "@/styles/color" as *;

.show {
  opacity: 1;
  transform: translateY(0);
}

.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.toast_container {
    padding: 0.2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.1rem;
    background-color: $blue;
    position: fixed;
    top: 2rem;
    left: calc(50% - 315px/2);
    color: #2e7d32;
    border: 1px solid #a5d6a7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    max-width: 315px;
    width: 100%;
    
    .toast_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 0.5em;
        img {
            width: auto;
            height: 0.888rem;
            margin: 0.4rem 0;
        }   
        span {
            color:$white;
            background-color: transparent;
            margin: 0;
            padding: 0;
            font-size: 0.888rem;

            &:hover {
                cursor: pointer;
                color: $blue_light7;
            }
        }
    }

    .toast_body{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
        width: 100%;
        border-radius: 5px;;       
        background-color: $blue_light10;
        border: 0.15rem solid rgb(82, 216, 102); 

        h3{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            svg{
                width: 2rem;
                height: 2rem;
                color: #048f04
            }
            color:$success_title;
            font-weight: bold;
            font-size: 1.4rem;
            padding: 0.31rem 0 0 1.1rem;
        }

        span {
            font-size: 0.888rem;
            color: $success_text;
            padding:0 1.11rem 0.6rem 1.11rem;
        }
    }

}
