@use "sass:color";

/* MAIN PALETTES */
$black:#000000;
$white:#FFFFFF;
$dark-blue:#010626;
$medium-blue:#022859;
$blue:#034C8C;
$light-blue:#2481A6;
$yellow:#FFCC00;
$errorText:#ff7f7f;

$watched:purple;
$favorite:#62aa00;
$listed:#ec8237;

/*Blue color in Darker variations*/
$blue_dark1:color.mix($blue, $black, 100%);
$blue_dark2:color.mix($blue, $black, 90%);
$blue_dark3:color.mix($blue, $black, 80%);
$blue_dark4:color.mix($blue, $black, 70%);
$blue_dark5:color.mix($blue, $black, 60%);
$blue_dark6:color.mix($blue, $black, 50%);
$blue_dark7:color.mix($blue, $black, 40%);
$blue_dark8:color.mix($blue, $black, 30%);
$blue_dark9:color.mix($blue, $black, 20%);
$blue_dark10:color.mix($blue, $black, 10%);

/*Blue color in Lighter variations*/
$blue_light1:color.mix($blue, $white, 100%);
$blue_light2:color.mix($blue, $white, 90%);
$blue_light3:color.mix($blue, $white, 80%);
$blue_light4:color.mix($blue, $white, 70%);
$blue_light5:color.mix($blue, $white, 60%);
$blue_light6:color.mix($blue, $white, 50%);
$blue_light7:color.mix($blue, $white, 40%);
$blue_light8:color.mix($blue, $white, 30%);
$blue_light9:color.mix($blue, $white, 20%);
$blue_light10:color.mix($blue, $white, 10%);

/* GRAYS */
$gray1: color.mix($white, $black, 95%);
$gray2: color.mix($white, $black, 90%);
$gray3: color.mix($white, $black, 80%);
$gray4: color.mix($white, $black, 70%);
$gray5: color.mix($white, $black, 60%);
$gray6: color.mix($white, $black, 50%);
$gray7: color.mix($white, $black, 40%);
$gray8: color.mix($white, $black, 30%);
$gray9: color.mix($white, $black, 20%);
$gray10: color.mix($white, $black, 10%);

/* BLUED GRAYS */
$bluedgray1: color.mix($blue, $gray1, 15%);
$bluedgray2: color.mix($blue, $gray2, 15%);
$bluedgray3: color.mix($blue, $gray3, 15%);
$bluedgray4: color.mix($blue, $gray4, 15%);
$bluedgray5: color.mix($blue, $gray5, 15%);
$bluedgray6: color.mix($blue, $gray6, 15%);
$bluedgray7: color.mix($blue, $gray7, 15%);
$bluedgray8: color.mix($blue, $gray8, 15%);
$bluedgray9: color.mix($blue, $gray9, 15%);
$bluedgray10: color.mix($blue, $gray10, 15%);

/* BUTTONS COLORS */
$button-border: $light-blue;

$background-blue-button: rgb(58, 87, 180);
$background-blue-button-moz: -moz-linear-gradient(90deg, rgba(58, 87, 180, 1) 0%, rgba(29, 135, 253, 1) 50%, rgba(69, 82, 252, 1) 100%);
$background-blue-button-webkit: -webkit-linear-gradient(90deg, rgba(58, 87, 180, 1) 0%, rgba(29, 135, 253, 1) 50%, rgba(69, 82, 252, 1) 100%);
$background-blue-button-linear: linear-gradient(90deg, rgba(58, 87, 180, 1) 0%, rgba(29, 135, 253, 1) 50%, rgba(69, 82, 252, 1) 100%);
$background-blue-button-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a57b4", endColorstr="#4552fc", GradientType=1);

$background-blue-button-hover: rgb(58, 71, 180);
$background-blue-button-hover-moz: -moz-linear-gradient(90deg, rgba(58, 71, 180, 1) 0%, rgba(25, 126, 240, 1) 50%, rgba(54, 67, 240, 1) 100%);
$background-blue-button-hover-webkit: -webkit-linear-gradient(90deg, rgba(58, 71, 180, 1) 0%, rgba(25, 126, 240, 1) 50%, rgba(54, 67, 240, 1) 100%);
$background-blue-button-hover-linear: linear-gradient(90deg, rgba(58, 71, 180, 1) 0%, rgba(25, 126, 240, 1) 50%, rgba(54, 67, 240, 1) 100%);
$background-blue-button-hover-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a47b4", endColorstr="#3643f0", GradientType=1);

