.container{
    width: 100%;

    .header {
        background-image: url('@assets/img/family.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 800px;
        font-family: "Jockey One", sans-serif;
        color:white;
        width: 100%;
        font-size: 2.5rem;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 3rem;
        
        @media (min-width: 1569px){
            background-size: cover;
        }

        .title{
            width: 50%;
        }
    }

    .trends, .top_rated {
        padding: 3rem;
        h2 {
            font-family: "Jockey One", sans-serif;
            font-size: 2rem;
            margin-bottom: 2rem;
            color: white;
        }
    }
}