$font-size: 1.5rem;
$max-width: 5%;

$good-color: #0b5e04;
$ok-color: #034e8b;
$bad-color: #640303;

.rating{
    font-family: "Barlow", sans-serif;
    max-width: $max-width;
    margin: 0.888rem 0;
    text-align: center;
    padding: 0.444rem ;
    border-radius: 5px;
    font-size: $font-size;
    transition: font-size 0.3s ease-in-out, max-width 0.3s ease-in-out;
    color:#FFFFFF;

    &.good{
        background-color:$good-color;
    }
    &.ok{
        background-color:$ok-color;
    }
    &.bad{
        background-color:$bad-color;
    }

    &:hover{
        font-size: calc($font-size + 0.5rem);
        max-width: calc($max-width + 1%);
    }
}
