@use '@/styles/color' as *;
@use '@/styles/typography';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    a {
      font-size: 1.5rem;
      color: $blue;
      text-decoration: none;
      font-size: 0.888rem;
    }
  }
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    
  }
  .friendship {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .friendship > *{
    flex:1;
  }
}