* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 90vh;
    
}

.container form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    bottom: 4vw;
    // border: 2px solid red;
    min-width: 38vw;
    background-color: rgba(255, 255, 255, 0.2);;
    border-radius: 7px;
}

.container hr {
    position: relative;
    top: 2px;
    border: solid 1px #4cb0c2;
    width: 80%;
}

.container h1 {
    color: #fff;
    font-size: 32px;

}

.container p {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 10px;

}

.container input {
    position: relative;
    width: 200px;
    height: 45px;
    margin: 25px auto;
}


.inputField input {
    width: 29vw;
    height: 5vw;
    background-color: #fff;
    outline: none;
    border: 2px solid #4cb0c2;
    padding-left: 5px;
    border-radius: 7px;
}
