.header {
    color: white;
    margin: 2rem 2rem;
    padding: 1rem;
}

nav, ul, .buttons, .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:1.5rem;
}
li {
    list-style-type: none;
    transition: font-size 0.3s ease-in-out;
    font-size: 1rem;
    padding: 0.3rem;

    &:hover {
        font-size: 1.1rem;
        cursor: pointer;
        color: skyblue;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }
}
a {
    text-decoration: none;
    color: white;

    &:hover {
        color: skyblue;
    }
    &:visited,  &:link {
        color: white;
    }
}
a:hover {
    color: skyblue;
}

.logo {
    font-family: 'Sigmar' , sans-serif;
    font-size: 1.8rem;
    color: rgb(226, 243, 255);
}