img {
    max-width: auto;
    max-height: 200px;
}

h4 {
    font-size: 1rem;
    margin: 0;
}
.container {
    max-width: 133px;
    word-wrap: break-word; /* Garante que palavras longas sejam quebradas */
    overflow-wrap: break-word; /* Funciona como alternativa ao word-wrap */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
}
