@use "@/styles/color" as *;

$max-height: 200px;
img {
    max-width: auto;
    max-height: $max-height;
    transition: width, 0.3s ease-in-out, height 0.3s ease-in-out;
}

img:hover {
    max-height: calc(#{$max-height} + 10px);
}

.container {
    h4 {
        font-size: 1rem;
        margin: 0;
        color:$blue;
    
        &:hover {
            color: $blue_light4;
        }
    }
    max-width: 133px;
    word-wrap: break-word; /* Garante que palavras longas sejam quebradas */
    overflow-wrap: break-word; /* Funciona como alternativa ao word-wrap */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
}
