.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    section {
        width: 80%;
    }
}
.results {
    width: 100%;
    padding: 2rem;
}