@use "../../styles/color" as colors;

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 1rem 3rem;

  h1{
    color: colors.$blue_dark5;
  }

  .details { 
    color: colors.$blue_dark5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;

    .cover {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      img {
        min-width: 20rem;
        min-height: 30rem ;
      }
    }
    .description {
      height: auto;
      max-width: 50%;
      strong {
        font-size: 1.4rem;
        color: colors.$blue_dark1;
      }
      p {
        font-size: 1.1rem;
      }
    }
    .cast{
      display: flex;
      flex-direction: column;
      max-width: 20%;
      gap:1rem;
      h2 {
        color: colors.$blue_dark1;
      }
      .actor {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        img {
          width: 5rem;
          height: auto;
        }
        
      }
    }
  }
}