@use '@/styles/color' as *;

label{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 0.888rem;
    gap:0.3rem;
    .input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      input{
        border-right: none !important;
        height: 22px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 12px;
        background-color: $gray1;
      }
      input::placeholder{
        color: $gray5;
        padding-left: 0.5rem;
      }

      button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-left: none !important;
        height: 22px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 0.3rem;
      }

      input, button {
        border: solid 2px $blue;
      }
    }
  }