@use "@/styles/color" as *;
.WatchedBtn_container {
    width: 100%;

    button {
        min-width: 100%;
        font-family: "Barlow", sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        color:purple;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:0.5rem;
        padding: 0.5rem 1rem;
        background-color: $yellow;
        border:none;
        border-radius: 5px;

        &.watched {
            color:white;
            background-color: purple;
        }
    }
    .icon {
        color: purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.watched {
            color:white;
        }
    }

    
}